@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

body {
background-color: #F7F7F7;
font-family: 'Source Sans Pro', sans-serif;
 width: 100%;
height: auto;
margin: 0px;
padding: 0px;
overflow-x: hidden;
}

#header
{
position: relative;
height: 350px;
overflow: hidden;
top: 0px;
}

#title {
position: relative;
float:left;
top: 20px;
left: 50px;
color: #F7F7F7;
z-index: 1;
}

#links_div {
position: relative;
float:right;
top: 45px;
right: 50px;
text-align: center;
vertical-align: middle;
z-index: 1;
}
#links_table {
border-spacing: 10px;
}
.cleanlink {
text-decoration: none;
}
.link {
color: #F7F7F7;
}
.link:hover {
color: #555555;
}

#logo {
position: relative;
top: -175px;
width: 100%;
z-index: 0;
}

#main {
text-align: center;
margin: auto;
position: relative;
min-width: 1000px;
max-width: 75%;
top: 50px;
}

p {
color: #555555;
}